.thumbnail img {
    width: 80px;
}

.CommentPaper {
    margin-bottom: 10px;
    border: grey 1px solid;
}

.CommentPaper .content {

    padding-top: 0;
    padding-bottom: 0;
    /* display: flex;
    align-content: center; */
}

.CommentPaper .content div {
  
}